@import '../css/reset';
@import '../../node_modules/bootstrap/dist/css/bootstrap.css';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css';
@import 'https://fonts.googleapis.com/css?family=Roboto+Mono|Open+Sans|Abril+Fatface';
/* ==========================================================================
Colors!
========================================================================== */
$brand-color:#d71920;
$black:#1e1c1f;
$txtblack: #343534;
/* =========================================================================
Typography
========================================================================== */
.emoji{font-weight:400;font-family:"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Segoe UI Symbol","Android Emoji",EmojiSymbols}
$base-font: 14px;
body{
font-family:'Open Sans',Helvetica,Arial, sans-serif;
font-size: $base-font;
font-weight: 300;
@media (min-width:680px){font-size:$base-font  + 1px;}
@media (min-width:992px){font-size:$base-font  + 2px;}
@media (min-width:1200px){font-size:$base-font + 4px;}
@media (min-width:1350px){font-size:$base-font + 6px;}
color: $txtblack;
}
h1,h2,h3,h4,h5,h6 {
  font-family:'Open Sans',Helvetica,Arial, sans-serif;
}
h1{
  margin:0.49em 0;
  font-size:2.5em; font-weight:700;
  font-family: 'Open Sans',Helvetica,Arial, sans-serif;
  @media(min-width:600px){font-size:4em;}
}
h2{
  font-family:'Open Sans',Helvetica,Arial,sans-serif;
  margin:0.84em 0 0.65em 0;
  font-size: 1.8em;
  @media(min-width:600px){font-size:2.2em;}
}
h3{
  margin:0.84em 0 0.45em 0;
  font-size: 1.3em;
  @media(min-width:600px){font-size:1.5em;}
}
a {
  transition: 0.3s;
}
p {
  margin: 0.4em 0 0.8em 0;
}
ul{margin:1em 0;}
li{list-style-position:inside;margin-bottom: 1em}
/* =========================================================================
Base Html
========================================================================== */
section{
  padding:8em 0;
}
/* =========================================================================
Buttons
========================================================================== */
a.btn,button.btn{
  margin: 8px 0;
  //background:#6a3093;
  background: #F62459;
  border: none;
  color:#fff;
  font-size: 2em;
  padding: .4em 0;
  width: 80%;
  max-width: 12em;
  display: block;
  transition: all 0.3s ease;
  text-align: center;
  text-decoration: none;
  &:hover{
    color: inherit;
    background: lighten(#F62459,5%);
  }
}

/* =========================================================================
Home Page Header
========================================================================== */
.h_HomeBanner{
  height: 100vh;
  padding: 0;
  background-image: url("../../build/img/Stock Photos/Stock4.jpg");
  background-position:center center;
  background-size:cover;
}
.h_HomeBanner_Text{
  z-index: 100;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  padding: .95em;
  color: #fff;
  h1{
    letter-spacing: 3px
  }
  
}
.filter{    
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(70,49,40,.65);
  top: 0;
  left: 0;
  z-index: 0;
}
/* =========================================================================
Footer
========================================================================== */
footer{
  padding: 14px 0
}
