@import '../css/reset';
@import '../../node_modules/bootstrap/dist/css/bootstrap.css';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css';
@import 'https://fonts.googleapis.com/css?family=Roboto+Mono|Open+Sans|Abril+Fatface|Roboto+Condensed';
/* ==========================================================================
Colors!
========================================================================== */
//$brand-color:#d71920;
$brand-color:#EA3859;
$black:#1e1c1f;
$txtblack: #343534;
$drkblue:#0e3443;
/* =========================================================================
Typography
========================================================================== */
.emoji{font-weight:400;font-family:"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Segoe UI Symbol","Android Emoji",EmojiSymbols}
$base-font: 14px;
body{
font-family:Helvetica,'Roboto Condensed','Open Sans',Arial, sans-serif;
font-size: $base-font;
font-weight: 300;
@media (min-width:680px){font-size:$base-font  + 1px;}
@media (min-width:992px){font-size:$base-font  + 2px;}
@media (min-width:1200px){font-size:$base-font + 4px;}
@media (min-width:1350px){font-size:$base-font + 6px;}
color: $txtblack;
}
h1,h2,h3,h4,h5,h6 {
  font-family:'Open Sans',Helvetica,Arial, sans-serif;
}
h1{
  margin:0.49em 0;
  font-size:2.5em; font-weight:700;
  font-family: 'Open Sans',Helvetica,Arial, sans-serif;
  @media(min-width:600px){font-size:4em;}
}
h2{
  font-family:'Abril Fatface', 'Open Sans',Helvetica,Arial,sans-serif;
  margin:0.84em 0 0.65em 0;
  font-size: 1.8em;
  @media(min-width:600px){font-size:2.2em;}
}
h3{
  margin:0.84em 0 0.45em 0;
  font-size: 1.3em;
  @media(min-width:600px){font-size:1.5em;}
}
a {
  transition: 0.3s;
}
p {
  margin: 0.4em 0 0.8em 0;
}
ul{margin:1em 0;}
li{list-style-position:inside;margin-bottom: 0.5em}
/* =========================================================================
Base Html
========================================================================== */
section{
  padding:2.5em 0 4em 0;
}
.cta{
  background: $drkblue;
  position: relative;
}
.cta-text{
  z-index: 10;
  position: relative;
  max-width: 50em;
  margin:0 auto;
  h2{
    font-size: 3em;text-align:left
  }
}
.cards{
  background: #fff;
  box-shadow:0 1px 1px #888;
  padding: 2em 1em;
  text-align: center;
  img{
    max-width: 130px;
    max-height: 120px;
  }
  h2{margin-bottom: 12px;}
  h3{margin:0.96em 0;font-size: 1.3em}
}
/* =========================================================================
Buttons
========================================================================== */
a.btn,button.btn{
  margin: 8px auto;
  background: $brand-color;
  border: none;
  color:#fff;
  font-size: 1.3em;
  padding: .7em .97em;
  width: auto;
  transition: all 0.3s ease;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius:1%;
  &:hover{
    color: inherit;
    background: lighten($brand-color,5%);
  }
}
/* =========================================================================
Nav Bar
========================================================================== */
nav{
  position: absolute;
  top:0;left:0;right:0;
  z-index: 100;
  padding: 0 2em;
  //background: rgba(70,49,40,.9);
  .navwrap{position: relative;}
  img{max-width: 200px;}
  z-index: 99999;
}
.h_NavLogo{
  display: inline-block;
  padding: 1em 0;
}
.h_NavTrigger{
  margin-right: 0;
  display: inline-block;
  position: absolute;
  right: 2em;
  top:1.5em;
}
.h_NavTrigger-Container{
  position: relative;
  right: 0;
  top: 14px;
  height: 30px;
  width: 28px;
  display: inline-block;
  margin: 0 .3em;
  transition: .3s all ease;
}
.h_NavTrigger-Toggle,.h_NavTrigger-Toggle:before,.h_NavTrigger-Toggle:after{
  position: absolute;
  background: #fff;
  width: 2em;
  height: 2px;
  top: 8px;
  transition: .3s all ease;
}
.h_NavTrigger-Toggle:before,.h_NavTrigger-Toggle:after{
  content: '';
}
.h_NavTrigger-Toggle:before{
  top: -6px;
}
.h_NavTrigger-Toggle:after{
  top: 6px;
}

.h_NavTrigger.isclicked{
  .h_NavTrigger-Toggle{
    transform: rotate(-45deg);
  }
  .h_NavTrigger-Toggle:before{
    transform: rotate(90deg);
    top: 0px;
  }
  .h_NavTrigger-Toggle:after{
    display: none;
  }
}

/*Nav menu*/
.nav-menu{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
  z-index: 999;
  background: #199D8F;
  overflow: scroll;
  ul{
    padding: 6em 0;
    li{
      display:block;
      text-align: center;
      font-size: 2.3em;
      margin:1em 0;
      a{color:#fff;font-size: 1em}
    }
    .menu-social-ico{
      a{padding: 0 1em;}
    }
  }
}
.bodyoverflow{
  overflow: hidden;
}
.nav-menu{display: none;}
.nav-menu.nav-open{display: block;}
/* =========================================================================
Home Page Header
========================================================================== */
.h_HomeBanner{
  height: 100vh;
  padding: 0;
  background-image: url("../../build/img/Stock Photos/Stock4.jpg");
  background-position:center center;
  background-size:cover;
  position: relative;
  padding-top: 5em;
}
.h_HomeBanner_Text{
  z-index: 100;
  max-width: 60em;
  position: relative;
  margin:0 auto; 
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  padding: .95em;
  color: #fff;
  h1{
    letter-spacing: 3px
  } 
  p{font-size: 1.3em;margin:1.98em 0}
}
.filter{    
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(70,49,40,.48);
  top: 0;
  left: 0;
  z-index: 0;
}
.h_homeabout{
  padding-top:2em;
  background: #0e3443;
  color: #fff;
  p{font-size: 1.3em}
  h2{font-size: 3em}
  h3{
    //font-style:italic;
    background: #b88e2e;
    padding: 2em 3em;
    text-align: center;
    font-family: 'Abril Fatface';
    font-size: 2em;
    letter-spacing: 0.04em;
  }
}
.homectadiscover{
  background-image: url("../../build/img/Stock Photos/Stock1.jpg");
  background-position:center center;
  background-size:cover;
  h1,h2,h3,p,a{z-index: 99;color:#fff}
  text-align: center;
  .filter{z-index: 0}
}

.h_homepackages{
  background: #eee;
  .cards{
    width: 95%;
    margin:2% 2%;
    @media(min-width:560px){
      width: 47.5%;
      margin:2% 1%;
    }
    @media(min-width:992px){
      width: 30%;
      margin:0 1%;
    }
    display: inline-block;
  }
}
.h_homepackages_cta{
  margin:0 0 3em 0;
  text-align: center;
  h2{font-size: 3em}
}
/* =========================================================================
Footer
========================================================================== */
footer{
  background: $txtblack;
  color: #fff;
  padding: 14px 0
}
